<div class="body">
  <header>
    <mat-toolbar  class="navbar">
      <div class="logo">
        <a routerLink="/home" routerLinkActive="active"><img src="../assets/images/logo.png" height="60"/></a>
      </div>
      <div class="routes">
        <a routerLink="/home" routerLinkActive="active">Forsiden</a>
        <a routerLink="/support" routerLinkActive="active">Støtte</a>
        <a routerLink="/membership" routerLinkActive="active">Medlemskab</a>
        <a routerLink="/terms" routerLinkActive="active">Vedtægter</a>
        <a routerLink="/board" routerLinkActive="active">Bestyrelsen</a>
        <a routerLink="/grpd" routerLinkActive="active">Privatdata politik</a>
      </div>
    </mat-toolbar>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <br>
    Copyright 2019 by HoldFast.nu<br>
    webmaster: Build IT Solve IT
  </footer>
</div>
