<div class="body">
  <div class="tekst">
    Hvis du ønsker at melde dig ind i foreningen og være med til at give
    <br>
    akut økonomisk støtte til unge på uddannelse i Esbjerg Kommune så de
    <br>
    fastholdes i uddannelse, kan du gøre som følgende:
    <br><br>
  </div>
  <div class="tekst1">
    Betal gennem:
    <br>
    -	Bankoverførsel til kontonummer: 5385 0249541
    <br>
    -	Mobil Pay til: 36 94 20
    <br><br>
    100 kr/år – enkelt medlemskab
    <br><br>
    200 kr. /år – familiemedlemsskab
    <br><br>
    500 kr./år – firmamedlemsskab
  </div>

  <div class="tekst2">
    Ved indbetalingen bedes du oplyse din mail-adresse.
    <br>
    Oplyses ingen mail-adresse, betragtes indbetalingen som en donation til foreningen.
    <br><br>
    Indbetalinger i perioden januar-oktober dækker medlemskontingent for indbetalingsåret.
    <br><br>
    Indbetalinger i perioden november – december dækker medlemsskabet for den efterfølgende kalenderår.
    <br><br>
    I december måned sender vi en mail med opfordring til at forny medlemsskabet for efterfølgende kalenderår.
  </div>

</div>
